@font-face {
    font-family: Gallery;
    src: url("fonts/GalleryModern.otf") format("opentype");
    outline: none;
}
  
@font-face {
    font-family: Geomanist-light;
    src: url("fonts/Geomanist-Light.otf") format("opentype");
}

@font-face {
    font-family: Geomanist-regular;
    src: url("fonts/Geomanist-Regular.otf") format("opentype");
}
  
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.container {
    display: flex;
    height: 100vh;
    align-items: flex-end;
    background-color: #F6F3EA;
    margin: 0;
    padding: 0;
}

.text {
    margin-bottom: 100px;
    margin-left: 200px;
}

.text h1 {
    font-family: Gallery;
    font-size: 150px;
    font-weight: normal;
}

.p1 {
    font-family: Geomanist-regular;
    font-size: 18px;
    margin-bottom: 32px;
    margin-top: 160px;
    margin-right: 100px;
}

.p2 {
    font-family: Geomanist-light;
    font-size: 16px;
    margin-bottom: 14px;
    margin-right: 150px;
}

.img2 {
    margin-right: 200px;
}

.fade-left {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
}
  
.animated {
    transition: .4s;
    opacity: 0;
}
  
.visible {
    opacity: 1;
    -webkit-transform: translate(0px);
    transform: translate(0px);
}
  
.delay-200 {
    transition-delay: .2s;
}

.delay-400 {
    transition-delay: .4s;
}




