@font-face {
    font-family: Geomanist-light;
    src: url("fonts/Geomanist-Light.otf") format("opentype");
}

.nav {
    display: flex;
    justify-content: start;
    padding-left: 20px;
    padding-top: 20px;
    z-index: 10;
    background-color: none;
}

#logo {
    width: 75px;
    height: 75px;
    cursor: pointer;
}
  
.navbar {
    overflow: hidden;
    display: flex;
    margin-left: 35%;
    align-items: center;
    font-family: Geomanist-light;
}  
   
.navbar a {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
    color: black;
    text-align: center;
    padding: 14px 45px;
    text-decoration: none;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
}
.navbar a:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    bottom: 0;
    background: black;
    height: 2px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.navbar a:hover:before, .navbar a:focus:before, .navbar a:active:before {
    left: 0;
    right: 0;
}

