@font-face {
  font-family: Gallery;
  src: url("GalleryModern.otf") format("opentype");
}

@font-face {
  font-family: Geomanist;
  src: url("Geomanist-Light.otf") format("opentype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.body {
  background-color: #F6F3EA;
  
}

.nav {
  display: flex;
  justify-content: start;
}
/* Navbar container */
.navbar {
    overflow: hidden;
    display: flex;
    margin-left: 35%;
    align-items: center;
    font-family: Arial;
  }
  
  /* Links inside the navbar */
  .navbar a {
    float: left;
    font-size: 23px;
    color: black;
    text-align: center;
    padding: 14px 45px;
    text-decoration: none;
    font-family: Geomanist;
  }
  
  /* The dropdown container */
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  /* Dropdown button */
  .dropdown .dropbtn {
    font-size: 23px;
    border: none;
    outline: none;
    color: black;
    padding: 14px 45px;
    background-color: inherit;
    font-family: Geomanist ; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }
  
  /* Add a red background color to navbar links on hover */
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #C2BA9D;
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-family: Geomanist;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #C2BA9D;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }

  .home {
    width: 1638px;
    height: 922px;
    margin-top: -15px;
    margin-left: auto;
    margin-right: auto;
  }

 

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
  }

  /* Margin and Padding is set to zero 
        so the body can occupy the full 
        screen page */
        body {
          margin: 0;
          padding: 0;
          background: #FFFBE7;
      }
        
      /* To put the header in the center of 
      the page we used justify-content and 
      align-items and set their value as
      center, You can add any background image */
      .header-bg {
          position: fixed;
          top:0;
          left:0;
          width: 100vw;
          height: 100vh;
          justify-content: center;
          align-items: center;
          display: flex;
      }


      /* Box shadow provides shadow effect 
      to the element */
      .header-bg h2 {
          margin: 0;
          padding: 0;
          color: #000;
          text-align: center;
          padding: 20px;
          max-width: 80%;
      }

      /* Set "position:relative" then section can move
      from its original position, by using position:relative,
      the position of the section is not dependent on the
      container. The box-sizing property is used to include
      the padding and border in an element */
      section {
          position: relative;
          top:100vh;
          padding: 100px;
          width: 100%;
          min-height: 100vh;
          box-sizing: border-box;
      }
      section h2 {
          text-align:center;
          margin: 0 0 50px;
          padding: 0;
          font-size: 40px;
          color: #fff; 
      }
      section p {
          text-align:center;
          color: #fff;
          font-size: 1.3em;
      }
    
      .sticky {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1000;
      }
      