@font-face {
  font-family: Gallery;
  src: url("fonts/GalleryModern.otf") format("opentype");
  outline: none;
}

@font-face {
  font-family: Geomanist-light;
  src: url("fonts/Geomanist-Light.otf") format("opentype");
}

@font-face {
  font-family: Geomanist-medium;
  src: url("fonts/Geomanist-Medium.otf") format("opentype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.home {
  width: 100vw;
  height: 100vh;
}

.BG {
  margin-top: 160px;
  margin-left: 220px;
}

.intro {
  position: absolute;
  margin-top: -30%;
  margin-left: 25%;
  width: 900px;
}

.intro h1 {
  float: right;
}

.sef {
  font-family: Gallery;
  font-size: 112px;
  margin-bottom: -30px;
  font-weight: normal;
}

.portfolio {
  font-family: Gallery;
  font-size: 150px;
  margin-bottom: -35px;
  font-weight: normal;
}

.jaar {
  font-size: 74px;
  font-family: Geomanist-medium;
  margin-left: 84%;
  font-weight: normal;
}


body {
  margin: 0;
  padding: 0;
  background: #F6F3EA;
}
        

.header-bg {
  position: fixed;
  top:0;
  left:0;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
      }

.header-bg h2 {
  margin: 0;
  padding: 0;
  color: #000;
  text-align: center;
  padding: 20px;
  max-width: 80%;
}


section {
  position: relative;
  top:100vh;
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
  overflow-x: hidden;
      }

section h2 {
  text-align:center;
  margin: 0 0 50px;
  padding: 0;
  font-size: 40px;
  color: #fff; 
}
section p {
  text-align:center;
  color: #fff;
  font-size: 1.3em;
}
    
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.container {
  display: flex;
  width: 100vw;
  overflow: hidden;
}

.box {
  position: relative;
  width: 16.67%;
  height: 100vh;
  background-color: #F6F3EA;
  -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.box:hover, .box:focus, .box:active {
  -webkit-transform: translateY(-8px);
  transform: translateY(-8px);
}
  
.image {
  display: block;
  width: 100%;
  height: auto;
}
  
.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  transition: .2s ease;
  opacity: 0;
  overflow: hidden;
  cursor: pointer;
}
  
.box:hover .overlay {
  /* height: 100%; */
  opacity: 1;
}
  
.text {
  color: black;
  position: absolute;
  top: 20%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.text h1 {
  font-family: geomanist;
  font-size: 100px;
  font-weight: normal;
}

.text h2 {
  font-family: Gallery;
  font-size: 60px;
  color: black;
  font-weight: normal;
}

.text2 {
  color: black;
  position: absolute;
  top: 90%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: Gallery;
  font-weight: normal;
}

.text2 h3 {
  font-size: 28px;
}

.box:hover .text2 {
  color:white;
  cursor: pointer;
}

.box:hover .text {
 color:white;
 cursor: pointer;
}

.box:hover .text h2 {
  color:white;
  cursor: pointer;
}

.fade-down {
  -webkit-transform: translateY(-100px);
  transform: translateY(-100px);
}

.fade-up {
  -webkit-transform: translateY(100px);
  transform: translateY(100px);
}

.animated {
  transition: .4s;
  opacity: 0;
}

.visible {
  opacity: 1;
  -webkit-transform: translate(0px);
  transform: translate(0px);
}

.delay-0 {
  transition-delay: 0;
}

.delay-100 {
  transition-delay: .1s;
}

.delay-200 {
  transition-delay: .2s;
}

.delay-300 {
  transition-delay: .3s;
}

.delay-400 {
  transition-delay: .4s;
}

.delay-500 {
  transition-delay: .5s;
}

.delay-600 {
  transition-delay: .6s;
}

.delay-700 {
  transition-delay: .7s;
}

.delay-800 {
  transition-delay: .8s;
}

.delay-900 {
  transition-delay: .9s;
}

.delay-1000 {
  transition-delay: 1s;
}

.delay-1200 {
  transition-delay: 1.2s;
}