@font-face {
  font-family: Gallery;
  src: url("GalleryModern.otf") format("opentype");
}

@font-face {
  font-family: Geomanist-light;
  src: url("fonts/Geomanist-Light.otf") format("opentype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav {
  display: flex;
  justify-content: start;
  padding-left: 20px;
  padding-top: 20px;
}

.navbar {
    overflow: hidden;
    display: flex;
    margin-left: 35%;
    align-items: center;
    font-family: Geomanist-light;
  }
  
 
  .navbar a {
    float: left;
    font-size: 23px;
    color: black;
    text-align: center;
    padding: 14px 45px;
    text-decoration: none;
  }
  
  
  .navbar a:hover {
    background-color: #e5dcbc;
  }

  .home {
    width: 1638px;
    height: 922px;
    margin-top: -15px;
    margin-left: auto;
    margin-right: auto;
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
  }

  .BG {
    margin-top: 100px;
    margin-left: 150px;
  }

  /* Margin and Padding is set to zero 
        so the body can occupy the full 
        screen page */
        body {
          margin: 0;
          padding: 0;
          background: #FFFBE7;
      }
        
      /* To put the header in the center of 
      the page we used justify-content and 
      align-items and set their value as
      center, You can add any background image */
      .header-bg {
          position: fixed;
          top:0;
          left:0;
          width: 100vw;
          height: 100vh;
          justify-content: center;
          align-items: center;
          display: flex;
      }


      /* Box shadow provides shadow effect 
      to the element */
      .header-bg h2 {
          margin: 0;
          padding: 0;
          color: #000;
          text-align: center;
          padding: 20px;
          max-width: 80%;
      }

      /* Set "position:relative" then section can move
      from its original position, by using position:relative,
      the position of the section is not dependent on the
      container. The box-sizing property is used to include
      the padding and border in an element */
      section {
          position: relative;
          top:100vh;
          width: 100%;
          min-height: 100vh;
          box-sizing: border-box;
          overflow-x: hidden;
      }
      section h2 {
          text-align:center;
          margin: 0 0 50px;
          padding: 0;
          font-size: 40px;
          color: #fff; 
      }
      section p {
          text-align:center;
          color: #fff;
          font-size: 1.3em;
      }
    
      .sticky {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1000;
      }

.container {
    display: flex;
    width: 100vw;
}

.box {
    position: relative;
    width: 16.67%;
    height: 100vh;
    background-color: #FFFBE7;
  }
  
  .image {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #008CBA;
    /* overflow: hidden; */
    width: 100%;
    height: 100%;
    /* height: 0; */
    transition: .2s ease;
    opacity: 0;
  }
  
  .box:hover .overlay {
    /* height: 100%; */
    opacity: 1;
  }
  
  .text {
    color: black;
    position: absolute;
    top: 20%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .text h1 {
    font-family: geomanist;
    font-size: 100px;
  }

  .text h2 {
    font-family: Gallery;
    font-size: 60px;
    color: black;
  }

  .text2 {
    color: black;
    position: absolute;
    top: 90%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: Gallery;
  }

  .text2 h3 {
    font-size: 28px;
  }

  .box:hover .text2 {
    color:white;
  }

  .box:hover .text {
    color:white;
  }

  .box:hover .text h2 {
    color:white;
  }