@font-face {
    font-family: Gallery;
    src: url("fonts/GalleryModern.otf") format("opentype");
    outline: none;
}
  
@font-face {
    font-family: Geomanist-light;
    src: url("fonts/Geomanist-Light.otf") format("opentype");
}
  
@font-face {
    font-family: Geomanist-medium;
    src: url("fonts/Geomanist-Medium.otf") format("opentype");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F6F3EA;
}

.fade-down {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
}
  
.animated {
    transition: .4s;
    opacity: 0;
}
  
.visible {
    opacity: 1;
    -webkit-transform: translate(0px);
    transform: translate(0px);
}
  
.delay-200 {
    transition-delay: .2s;
}

.delay-400 {
    transition-delay: .4s;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.top {
    display: flex;
    margin-top: 120px;
    justify-content: center;
}

.topbox h1 {
   font-family: Gallery;
   font-size: 80px;
}

.topbox p {
    font-family: Geomanist-light;
    width: 600px;
    margin-top: 16px;
    margin-bottom: 60px;
 }

.row {
    display: flex;
    justify-content: center;
}

.back-btn {
    display: inline-block;
    border: 2px solid #000;
    width: 70px;
    height: 70px;
    margin-left: -450px;
    border-radius: 50PX;
    padding-top: 17px;
    color: black;
    text-decoration: none;
    font-family: Geomanist-light;
    font-size: 22px;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    text-align: center;
}

.back-btn:hover, .back-btn:focus, .back-btn:active {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
    background-color: black;
    color: white;
}

.next {
    display: block;
    border: 2px solid #000;
    padding: 20px 40px;
    text-align: center;
    margin-left: 185px;
    margin-top: 32px;
    width: 500px;
    border-radius: 50px;
    text-decoration: none;
    color: black;
    font-family: Geomanist-light;
    font-size: 24px;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.next:hover, .next:focus, .next:active {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
    background-color: black;
    color: white;
}
