@font-face {
    font-family: Gallery;
    src: url("fonts/GalleryModern.otf") format("opentype");
    outline: none;
}
  
@font-face {
    font-family: Geomanist-light;
    src: url("fonts/Geomanist-Light.otf") format("opentype");
}
  
@font-face {
    font-family: Geomanist-medium;
    src: url("fonts/Geomanist-Medium.otf") format("opentype");
}
  
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.container {
    background-color: #F6F3EA;
    margin: 0;
    height: 100%;
}

.container h1 {
    text-align: center;
    font-family: Gallery;
    font-size: 80px;
    padding-top: 120px;
    margin-bottom: 60px;
    font-weight: normal;
}

.row {
    display: flex;
    justify-content: flex-start;
    margin-left: 10%;
}

.project {
    position: relative;
    width: 375px;
    height: 500px;
    background-color: white;
    margin: 5px;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.image {
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.1);
    width: 100%;
    height: 100%;
    transition: .2s ease;
    opacity: 0;
    backdrop-filter: blur(5px);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    cursor: pointer;
    font-weight: normal;
}

.overlay h1 {
    background: none;
    font-size: 40px;
    margin-top: 50%;
    padding: 0;
}

.white {
    color: white;
    font-weight: normal;
}

.project:hover .overlay {
    opacity: 1;
}

.project:hover, .project:focus, .project:active {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
}

.fade-down {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
}
  
.animated {
    transition: .4s;
    opacity: 0;
}
  
.visible {
    opacity: 1;
    -webkit-transform: translate(0px);
    transform: translate(0px);
}
  
.delay-200 {
    transition-delay: .2s;
}

.delay-400 {
    transition-delay: .4s;
}
